* {
    margin: 0;
    bottom: 0;
    padding: 0;
}

@font-face {
    font-family: yeon_sung;
    src: url(/Assets/FONTS/Yeon_Sung/YeonSung-Regular.ttf);
}

@font-face {
    font-family: work_sans;
    src: url(/Assets/FONTS/Work_Sans/static/WorkSans-Regular.ttf);
}

@keyframes effect1 {
    from {
        opacity: 0;
        margin-left: 1%;
    }

    to {
        opacity: 1;
        margin-left: 0;
    }
}

/*Início das Variáveis*/

:root {
    --scroll_color: #353333;
}

:root {
    --scroll_bg: #eee0e0a2;
}

/*Fim das Variáveis*/


/*Início dos Atributos do Scrollbar Navegadores comuns*/

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--scroll_bg);
}
     
::-webkit-scrollbar-thumb {
    background: var(--scroll_color);
    border-radius: 5px;
}

/*Fim dos Atributos do Scrollbar - Navegadores comuns*/

/*Início do Menu Hamburguer*/

#menuToggle {
	display: block;
	position: relative;
	-webkit-user-select: none;
	user-select: none;
    z-index: 1;
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
    position: absolute;
    margin-top: 1px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
    margin-bottom: 5px;
	background: #fff;
	border-radius: 3px;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	opacity 0.55s ease;
    z-index: 15;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #fff;
}

#menuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: fixed;
    background-color: #006FB0;
    max-width: 250px;
	width: 300px;
    height: 300px;
	padding: 50px;
    border: 2px solid #000;
    border-radius: 25px;
	right: -150px;
    top: 0;
    z-index: -1;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(100%, -100%);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
	padding: 10px 0;
	font-size: 22px;
}

#menuToggle input:checked~ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
}

#hamburger img {
    width: 20vw;
}

/*Fim do Menu Hamburguer*/


/*Início - IMG Troca de Tema*/

#theme {
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 50%;
    right: 0;
    background-image: url(../IMAGES/Sun_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50%);
    z-index: 1;
    transition: 0.5s;
}

#theme:hover {
    opacity: 80%;
}

/*Fim - IMG Troca de Tema*/

/*Início da Parte Principal*/

main {
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

a {
    color: #fffafa;
    text-decoration: none;
}

/*Início do Header*/

header {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #000;
    background-color: #006FB0;
}

#nav1 {
    width: 100%;
    height: auto;
    display: flex;
}

#header_inicial {
    width: 20%;
    height: auto;
    padding: 10px 0;
}

#header_inicial div {
    width: 85%;
    height: auto;
    margin: auto;
    border-radius: 30px;
    background-color: #fff;
    transition: 1s;
}

#header_inicial img {
    width: 17vw;
}

#header_middle {
    width: 60%;
    height: auto;
    margin: auto;
}

#header_middle div {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    float: right; 
}

#header_middle a {
    color: #ffffff;
    font-size: 1.55vw;
}

#header_middle a:hover {
    text-decoration: underline;
}

#header_end {
    width: 5%;
    height: auto;
    display: none;
}

/*Fim da Header*/

/*Início da Section1*/

#section1 {
    width: 100%;
    height: auto;
    font-size: 4vw;    
}

#section1 article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div_type1 {
    width: 50%;
    height: auto;
    padding: 10vh 2vw;
}

.div_type1 img {
    width: 45vw;
    border: 1px solid #0093E8;
    border-radius: 15px;
}

#section1 h1 {
    width: 100%;
    height: auto;
    font-weight: normal;
    padding: 5vh 0;
}

#button_adjust {
    display: flex;
    justify-content: center;
}

#button_adjust button {
    background-color: #0093E8;
    border: 2px solid #000;
    border-radius: 20px;
    width: 65%;
    height: 8vh;
    font-size: 2vw;
    opacity: 95%;
    transition: all 0.3s;
}

#button_adjust button:hover {
    opacity: 100%;
    background-color: #086397;
    border: 2px solid #086397;
    transform: scale(1.05);
}

#button_adjust button a {
    transition: 0.5s;
}

#button_adjust button a:hover {
    color: #000;
    transition: 1s;
}

.text_color {
    color: #0D09B8;
}

/*Fim da Section1*/

/*Início da Section2*/

#section2 {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(../IMAGES/bigbus_light.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#section2 article {
    margin-top: 15px;
    margin-bottom: 15px;
}

#section2_part1 {
    width: 50%;
    height: 88%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 1vh 0;
    background-color: rgba(140, 210, 251, 0.7);
    opacity: 100%;
    z-index: 1;
    float: left;
}

#section2_part1 svg {
    width: 94%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3%;
    background-color: rgba(255, 255, 255, 0.0);
}


.str0 {stroke: #000000; stroke-width:2}
.fill {fill: #ff6a00;}
.hover {fill:#ff6a00bb; stroke: #fff; stroke-width: 2;}


#section2_part2 {
    width: 50%;
    height: 88%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 1vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(140, 210, 251, 0.7);
    opacity: 100%;
    z-index: 1;
    float: right;
}

#section2 h1 {
    margin-top: 2vh;
    font-size: 4vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: work_sans;
}

#section2 p {
    font-size: 2vw;
}

#regiao_nome {
    font-size: 3vw;
    font-family: work_sans;
    text-align: center;
    font-weight: 400;
    color: #ff5e00;
}

#regiao_nome img {
    width: 40vw;
    margin-top: 3%;
}

#regiao_descricao p {
    display: none;
}

#regiao_descricao {
    width: 100%;
    margin-top: 5vh;
}

#regiao_descricao ul {
    float: left;
}

#regiao_descricao img {
    width: 28vw;
    padding-right: 5%;
    float: right;
}

#regiao_leste, #regiao_norte, #regiao_oeste, #regiao_sudeste, #regiao_sudoeste, #regiao_central {
    display: none;
    font-size: 1.7vw;
    padding-left: 3%;

    animation-name: effect1;
    animation-duration: 0.2s;
    animation-timing-function: linear;
}


/*Fim da Section2*/

/*Início da Section3*/

#section3 {
    width: 100%;
    height: auto;
    margin-top: 30px;
    background-color: #8CD2FB;
}

#section3 article {
    width: 75%;
    margin: auto;
    padding: 30px 0 55px 0;
}

#section3 h1 {
    text-align: center;
    font-size: 4vw;
    font-family: work_sans;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#section3 p {
    font-size: 1.8vw;
    margin-top: 30px;
}

#section3 .text_color2 {
    font-weight: bold;
    text-decoration: underline;
}

/*Início do Carrossel*/

.content {
    position: relative;
    width: 60vw;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid #0093E8;
    border-radius: 5px;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background-color: #0093E8;
}

#section3 input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide1:checked ~ .bar {
    background-color: #0D09B8;
}

/*Fim do Carrossel*/

/*Fim da Section3*/


/*Início da Section4*/

#section4 {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    background-color: #8CD2FB;
}

#section4 article {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
}

#section4_part1 {
    width: 35%;
    height: 100%;
}

#section4_part1 h1 {
    font-size: 4vw;
    font-family: work_sans;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#section4_part1 h2 {
    font-size: 2.5vw;
    font-family: work_sans;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

#section4_part1 img {
    transition: all 0.3s;
}

#section4_part1 img:hover {
    transform: scale(1.2);
}

#section4_part1 div {
    width: auto;
    height: 50px;
    font-size: 1.8vw;
    gap: 12%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 15px;
}

#facebook {
    padding-right: 25px;
}

#section4_part1 p {
    font-size: 1.8vw;
    margin-top: 50px;
}

#section4_part1 label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section4_part2 {
    width: 55%;
    height: 100%;
}

#section4_part2 fieldset {
    width: 100%;
    height: 100%;
    border: 0;
    padding-top: 40px;
}

#section4_part2 label{
    font-size: 2vw;
    font-family: work_sans;
    -webkit-text-stroke: 0.3px #000;
}

#section4_part2 input, textarea {
    font-size: 1.2vw;
    font-family: work_sans;
    text-indent: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}

#section4_part2 input {
    height: 40px;
}

textarea {
    padding-top: 10px;
    height: 150px;
    resize: none;
}

#submit {
    width: 25%;
    float: right;
}

#submit input {
    width: 100%;
    padding-right: 5px;
    cursor: pointer;
    background-color: #494646d7;
    color: #fff;
    transition: all 0.5s;
}

#submit input:hover {
    transform: scale(1.05);
}

.smaller {width: 100%;}
.bigger {width: 100%;}
.left {width: 48%; float: left;}
.right {width: 48%; float: right;}
.normal {width: 100%; float: left;}


/*Fim da Section4*/


/*Início do Footer*/

footer {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 40px;
    background-color: #0093E8;
}

#footer_superior {
    width: 85%;
    height: auto;
    margin: auto;
    padding: 2vh 0;
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: row;
}

footer img {
    width: 7vw;
    padding-left: 2vw;
}

footer h1 {
    font-size: 3vw;
    font-family: yeon_sung;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer nav {
    width: 65%;
    height: auto;
    margin: auto;
    padding: 4vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer a {
    color: #000;
    font-size: 1.7vw;
}

footer a:hover {
    text-decoration: underline;
}

#footer_inferior {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #2B1E1E;
    color: #D7F8EE;
}

br{display: none;}

#footer_inferior h5 {
    font-size: 1.3vw;
    font-weight: normal;
    padding: 1vh 0;
}

/*Fim do Footer*/

/*Início do Responsivo*/

/*Início - Responsivo Laptop*/

@media only screen and (max-width:1280px) {

    /*Header - Laptop*/

    #header_inicial {
        width: 25%;
    }
    
    #header_inicial img {
        width: 22vw;
    }

    #header_middle {
        width: 70%;
    }

    #header_middle div {
        width: 80%;
    }

    #header_end {
        width: 5%;
    }

    #header_middle a {
        font-size: 25px;
    }

    /*Section1 - Laptop*/

    #section1 h1 {
        padding: 25px 0 30px 0;
    }
    #button_adjust button {
        width: auto;
        height: auto;
        padding: 15px 25px;
        font-size: 2.5vw;
    }

    /*Section2 - Laptop*/

    #section2 {
        height: 640px;
    }

    #section2 p {
        font-size: 25px;
    }

    #section2 ul {
        font-size: 2.2vw;
    }

    #regiao_descricao {
        margin-top: 20px;
    }

    #regiao_descricao img {
        width: 25vw;
        padding-right: 3%;
    }

    #regiao_leste, #regiao_norte, #regiao_oeste, #regiao_sudeste, #regiao_sudoeste, #regiao_central {
        padding: 0;
    }

    /*Section3 - Laptop*/

    #section3 p {
        font-size: 25px;
    }

    #section4_part1 div {
        width: auto;
        justify-content: center;
    }

    #facebook {
        padding-right: 20px;
    }

    #section4 h1 {font-size: 35px;}

    #section4 p, #section4 label {font-size: 22px;}

    #section4 input, textarea {font-size: 18px;}

    #section4 h2 {font-size: 30px;}

    #submit, #submit input {width: auto;}

    /*Footer - Laptop*/

    #footer_superior h1 {
        font-size: 3.7vw;
    }

    footer a {
        font-size: 25px;
    }

    #footer_inferior h5 {
        font-size: 2vw;
    }
}

/*Fim - Responsivo Laptop*/


/*Início - Responsivo Tablet*/

@media only screen and (max-width:768px) {

    /*Header - Tablet*/

    #header_inicial {
        width: 30%;
    }
    
    #header_inicial img {
        width: 26vw;
    }

    #header_middle {
        width: 60%;
    }
    
    #header_middle a {
        display: none;
    }

    #header_end {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 10%;
    }

    /*Section1 - Tablet*/

    #section1 h1 {
        padding: 15px 0 20px 0;
    }

    #section1 img  {
        width: 47vw;
    }

    #button_adjust button {
        width: auto;
        height: auto;
        padding: 10px 12px;
        font-size: 2.5vw;
    }

    /*Section2 - Tablet*/

    #section2 {
        height: 500px;
    }

    #section2 svg {
        width: 100%;
        margin: 0;
    }

    #regiao_leste {
        justify-content: center;
    }

    #regiao_descricao img {
        display: flex;
        width: 45vw;
        margin: auto;
        padding: 5px 0;
        float: none;
    }

    #regiao_descricao p {
        display: block;
        text-align: center;
    }

    #section2 h1 {font-size: 30px;}

    #section2 p {font-size: 20px;}

    #section2 li {display: none;}

    #section2 #regiao_nome {font-size: 25px;}

    /*Section3 - Tablet*/

    #section3 article {
        width: 85%;
    }

    #section3 h1 {font-size: 45px;}

    #section3 p {font-size: 22px;}

    .bar {
        margin: 0 8px 0px 8px;
    }

    #section3 .content {
        width: 65vw;
    }

    /*Section4 - Tablet*/

    #section4 article {
        flex-direction: column;
    }


    #section4_part1 {
        width: 70%;
        margin: auto;
    }

    #section4_part2 {
        width: 85%;
        margin: auto;
    }

    #section4_part1 label {
        width: auto;
    }

    #section4 h1 {font-size: 45px;}

    #section4 p, #section4 label {font-size: 20px;}

    #section4 h2 {font-size: 35px;}

    #section4 input, textarea {font-size: 14px;}
   
    /*Footer - Tablet*/

    footer h1 {
        font-size: 25px;
    }

    footer img {
        width: 60px;
        height: auto;
    }

    footer a {
        font-size: 18px;
    }

    br {display: block;}

    #footer_inferior h5 {
        font-size: 12px;
    }
}

/*Início - Responsivo Celular*/

@media only screen and (max-width:480px) {

    /*Header - Celular*/

    #header_inicial {
        width: 45%;
    }

    #header_inicial img {
        width: 38vw;
    }
    #header_middle {
        width: 40%;
    }

    #header_end {
        width: 15%;
    }

    /*Section1 - Celular*/

    #section1 article {
        display: flex;
        flex-direction: column;
    }
    .div_type1 {
        width: 85%;
        padding: 0;
        text-align: center;
        margin: auto;
    }

    #section1 h1 {
        font-size: 7vw;
    }

    #section1 img {
        width: 70vw;
        margin-bottom: 25px;
    }

    #button_adjust, #button_adjust button {
        width: 95%;
        font-size: 20px;
        padding: 10px 0;
        opacity: 100%;
        z-index: 1;
    }

    #button_adjust {
        position: fixed;
    }

    /*Section2 - Celular*/

    #section2 {
        height: auto;
    }

    #section2_part1 {
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
        float: none;
    }

    #section2 svg {
        padding: 0;
    }

    #section2_part2 {
        width: 100%;
        height: auto;
        margin: 0;
        float: none;
    }

    #section2 article {
        width: 90%;
        padding: 0;
        margin: 0;
        margin: auto;
    }

    #section2 h1 {
        margin: 0;
    }

    #regiao_nome {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        float: none;
    }

    #regiao_nome img {
        width: 65vw;
        margin: auto;
        margin-top: 15px;
    }

    #regiao_descricao {
        padding: 0;
    }

    #regiao_descricao img {
        width: 60vw;
    }

    /*Section3 - Celular*/

    #section3 .content {
        width: 85vw;
    }

    /*Section4 - Celular*/

    #section4_part1 {
        width: 85%;
    }

    #section4_part2 {
        width: 90%;
    }

    /*Footer - Celular*/

    footer {
        z-index: 2;
    }
    footer h1 {
        margin: auto;
    }

    footer img {
        padding: 0;
        margin: auto;
    }

    #footer_superior {
        width: 90%;
    }

    #footer_superior h1 {
        font-size: 20px;
    }

    footer nav {
        width: 90%;
    }

    #footer_inferior h5 {
        font-size: 14px;
    }
}

/*Fim - Responsivo Celular*/

/*Fim do Responsivo*/

/*Fim da Parte Principal*/